h4 {
    text-align: center;
}
h5 {
    text-align: center;
    background-color: #00acee;
    position: relative;
    bottom: 450px;
    height: 50px;
    font-size: 22px;
    padding-top: 2%;
    margin-top: 1%;
    
}
footer {
    background-color:#4b423b;
    color:#3d2b1f;
    position: relative;
    bottom: 500px;
    height: 350px;
    
}
#footer {
    display: flex;
    justify-content: space-between;
}
.f3>p>i {
    color: #00acee;
}